/* cssFlexbox: */

h2 {
  margin-bottom: 0;
  color: #645cff;
  text-transform: uppercase;
}

nav {
  height: 5rem;
  padding: 0 2rem;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 0 0.5rem;
}

.nav-links li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #645cff;
  font-size: 1.25rem;
}
