/* cssFlexbox: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.hero {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 100vh;
  background: url(https://images.pexels.com/photos/8451490/pexels-photo-8451490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-links {
  display: flex;
  gap: 0 1rem;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}
.logo {
  font-size: 3rem;
}
